@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply input-bordered bg-transparent border-current;
  }

  /* Since the background is transparent, the placeholder isn't always easily readable */
  .input::placeholder {
    color: theme(colors.base-content / 65%);
  }

  /* Default tooltip placement, for some reason this isn't included by default */
  .tooltip-top:before {
    transform: translateX(-50%);
    top: auto;
    left: 50%;
    right: auto;
    bottom: var(--tooltip-offset);
  }

  .tooltip-top:after {
    transform: translateX(-50%);
    border-color: transparent transparent transparent var(--tooltip-color);
    top: auto;
    left: 50%;
    right: auto;
    bottom: calc(var(--tooltip-tail-offset) + 1px);
  }
}
